$mobile_breakpoint: 576px;
$tablet_breakpoint: 768px;
$tablet_landscape_breakpoint: 992px;
$desktop_breakpoint: 1200px;

// SCSS Mixins
@mixin mobile {
  @media only screen and (max-width: #{$mobile_breakpoint}) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: #{$tablet_breakpoint}) {
    @content;
  }
}

@mixin tablet-portrait {
  @media only screen and (max-width: #{$tablet_landscape_breakpoint}) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (max-width: #{$desktop_breakpoint}) {
    @content;
  }
}

body, html {
    margin: 0;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    


    @include desktop {
        font-size: 16px;
    }

    @include tablet {
        font-size: 18px;
    }

    @include mobile {
        font-size: 24px;
    }
}

.container {
    
    &__content {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0 auto;
     

        
        @include tablet {
            height: 600px;
        }

        @include mobile {
            width: 95%;
            height: 800px;
        }
    }
}

.nav {
    border: 2px solid black;
    display: flex;
    padding: 10px 40px;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(16, 85, 43);
   
    

    &__logo {
        width: 5rem;
        }


    &__menu {
        display: flex;
        align-items: center;
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        }

        /*.nav__menu li */
        li {
            margin-right: 20px;
            font-size: xx-large;
            text-decoration: none;
            
        }
    
    
}
    


.main {
    display: flex;
    flex-direction: column;
    background-image: url(/img/fondo2.jpg);
    background-size: cover;


.main__article1 {
    border: 1px solid black;
    height: 500px;
   
    @include tablet {
        height: 600px;

    }

    @include mobile {

        height: 800px;
    }
}
    
}



.footer {
    border: 2px solid black;
    display: flex;
    justify-content: space-evenly;  
    background-color: rgb(16, 85, 43);

    @include tablet {
        height: 600px;

    }

    @include mobile {

        height: 800px;
    }

}

