body, html {
  margin: 0;
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media only screen and (max-width: 1200px) {
  body, html {
    font-size: 16px;
  }
}

@media only screen and (max-width: 768px) {
  body, html {
    font-size: 18px;
  }
}

@media only screen and (max-width: 576px) {
  body, html {
    font-size: 24px;
  }
}

.container__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .container__content {
    height: 600px;
  }
}

@media only screen and (max-width: 576px) {
  .container__content {
    width: 95%;
    height: 800px;
  }
}

.nav {
  border: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #10552b;
  /*.nav__menu li */
}

.nav__logo {
  width: 5rem;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.nav li {
  margin-right: 20px;
  font-size: xx-large;
  text-decoration: none;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(/img/fondo2.jpg);
  background-size: cover;
}

.main .main__article1 {
  border: 1px solid black;
  height: 500px;
}

@media only screen and (max-width: 768px) {
  .main .main__article1 {
    height: 600px;
  }
}

@media only screen and (max-width: 576px) {
  .main .main__article1 {
    height: 800px;
  }
}

.footer {
  border: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #10552b;
}

@media only screen and (max-width: 768px) {
  .footer {
    height: 600px;
  }
}

@media only screen and (max-width: 576px) {
  .footer {
    height: 800px;
  }
}
/*# sourceMappingURL=style.css.map */